table {
    border-spacing: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
table th{
    background-color: white;
    border: 1px solid black;
    text-align: center;
}
table td{
    background-color: #EEE;
    border: 1px solid black;
}